body{
    margin:0;
    background:#0e0e0e;
    color:#F5E6E8;
    font-family:Segoe UI,sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

#topHud{text-align:center;margin-bottom:8px;}
#controls{position:absolute;top:20px;right:20px;display:flex;gap:8px;}

.playground{
    width:min(90vw,70vh);
    height:min(90vw,70vh);
    background:rgba(255,255,255,.08);
    border-radius:20px;
    position:relative;
    overflow:hidden;
}

#player{
    width:26px;
    height:26px;
    border-radius:50%;
    background:hsl(0,80%,60%);
    position:absolute;
    left:50%;top:50%;
    transform:translate(-50%,-50%);
}

.food{
    position:absolute;
    border-radius:50%;
    background:#967AA1;
}

#bottomPanel{
    margin-top:10px;
    background:rgba(0,0,0,.5);
    padding:8px 30px;
    border-radius:12px;
}

.overlay{
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.85);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:10;
}

.hidden{display:none;}

.mainBtn,.dangerBtn{
    padding:14px 30px;
    border:none;
    border-radius:30px;
    font-size:16px;
    cursor:pointer;
}

.mainBtn{background:linear-gradient(135deg,#00c6ff,#0072ff);color:white;}
.dangerBtn{background:linear-gradient(135deg,#ff4b4b,#b30000);color:white;} /*W3School*/

.row{display:flex;gap:20px;}

#controls button{
    width:44px;
    height:44px;
    border-radius:50%;
    border:none;
    font-size:18px;
    cursor:pointer;
    background:rgba(255,255,255,0.15);
    color:white;
    backdrop-filter: blur(6px);
    transition:.2s;
}

#controls button:hover{
    background:rgba(255,255,255,0.3);
    transform:scale(1.1);
}

#controls button:active{
    transform:scale(0.95);
}

